*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color:#d4eed1;
    margin-left: 7%;
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color:#d4eed1;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color:#7e7ccf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: coral;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #d4eed1;
    display: block; 
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select{
    padding: 0.2em;
    border: 1px solid #60e452;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo select:focus, .campo input:focus{
    background: seashell;
}

.botao{
    font-size: 1.2em;
    background:rgb(45, 47, 160);
    border: 0;
    margin-bottom: 1em;
    color: snow;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: seagreen;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}